kind: Application
apiVersion: argoproj.io/v1alpha1
metadata:
    name: devops-toolkit
    namespace: argocd
    finalizers:
        - resources-finalizer.argocd.argoproj.io
spec:
    project: default
    source:
        path: helm
        repoURL: https://github.com/fsedano/app1.git
        targetRevision: HEAD
        helm:
            values: |
                image:
                    tag: latest
                ingress:
                    devops-toolkit.172.18.0.2.sslip.io
            version: v3
    destination:
        namespace: production
        server: https://kubernetes.default.svc
    syncPolicy:
        automated:
            selfHeal: true
            prune: true
            
